<article class="listing">
    <figure>
        <img class="listing__image" src="{{image}}" />
    </figure>
    <section class="listing__content">
        <h1 class="listing__title">{{title}}</h1>
        <h2 class="listing__price">{{price}}</h2>
        <p class="listing__description scrollbox">{{description}}</p>
    </section>
    <footer class="listing__agent">
        <img class="listing__agent__logo" src="{{agent.logo}}" />
        <section class="listing__agent__details">
            <h3 class="listing__agent__name">{{agent.name}}</h3>
            <span class="listing__agent__address">{{agent.address}}</span>
            <span class="listing__agent__phone">{{agent.phone}}</span>
        </section>
    </footer>
</article>
